@use '@sass/utils/tokens';
@use '@sass/utils/type';


.container {
  overflow-y: auto; 
  height: 100%;
}

.console__log-entry {
  @include type.body-extra-small;
  white-space: pre-wrap;
  background: tokens.$color-highlighted;
  width: fit-content;
  padding-inline: tokens.$s-p-xs;
}
