@use "@sass/utils/type";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Only use the strudel-editor + div to manage audio states */
strudel-editor + div {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
}

// Base type styles for the app
body {
  @include type.body-small;
}
