.container {
    --controls-height: 5vh;
    --console-height: 10vh;
    --editor-height: calc(100vh - var(--controls-height) - var(--console-height));
    display: grid;
    height: 100vh;
    grid-template-rows: var(--controls-height) var(--editor-height) var(--console-height);
}

.container--hide-bottom{
    --console-height: 0vh;

    .container__bottom {
        display: none;
    }
}

.container--hide-sidebar {
    ::slotted(strellis-sidebar) {
        display: none;
    }
}

.container--hide-top {
    --controls-height: 0vh;
}

.container__top {
}

.container__display-wrapper {
  position: relative;

  ::slotted(strellis-editor) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.container__editor {
    display: grid;
    grid-template-columns: auto 1fr;
}

.container__bottom {
}
