@use "@sass/utils/tokens";

.container {
    --controls-height: 5vh;
    display: grid;
    height: 100vh;
    grid-template-rows: var(--controls-height) auto; 
    gap: tokens.$s-md;
    position: relative;
}

.container--hide-sidebar {
    --container-editor-columns: 1fr;
    ::slotted(strellis-sidebar) {
        display: none;
    }
}

.container--hide-top {
    --controls-height: 0vh;
}

.container__top {
}

.container__editor-wrapper {
  position: relative;

  ::slotted(strellis-editor) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.container__editor-wrapper__console {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: tokens.$s-p-sm;
  width: 30%;
  height: 30%;
}

.container__editor {
    display: grid;
    grid-template-columns: var(--container-editor-columns, auto 1fr);
}


.container__display-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
