@use "@sass/utils/buttons";
@use "@sass/utils/tokens";
@use "@sass/utils/type";

.container {
  padding: tokens.$s-p-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__branding {
  h1 {
    margin: 0;
  }
}

.container__buttons {
  display: flex;
  justify-content: flex-end;
  gap: tokens.$s-p-md;
}

button {
  @include buttons.button;
}

.template-selector-container {
  position: relative;
}

.template-selector-container__modal {
  border: 1px solid tokens.$color-border-dark;
  border-radius: tokens.$border-radius-thin;
  padding: tokens.$s-p-lg;
  width: clamp(90%, 50vw, 400px);

  h3 {
    @include type.subheading-medium;
    margin-bottom: tokens.$s-p-md;
  }
}
.template-selector-container__modal__options {
  display: flex;
  flex-direction: column;

  a {
    @include type.body-small;
    display: block;
    text-decoration: none;
    padding: tokens.$s-p-xs;

    &:hover {
      background: tokens.$color-bg-hover;
      color: tokens.$color-text-light;
    }
  }
}
