@use "@sass/utils/tokens";

:host {
  --editor-width: 50%;
  position: relative;
}

.editor-container {
  display: block;
  height: 100%;
  /* width: var(--editor-width); */
  visibility: visible;
  z-index: 10;
  overflow: hidden; /* Let Monaco handle its own scrolling */
  padding-inline: tokens.$s-p-md;
}

.cm-editor {
  overflow: auto;
  height: calc(100% - 4px);
}

.cm-scroller {
  overflow: auto;
}

.cm-gutters.cm-gutters {
  background: transparent;
  border: none;
}

.cm-gutterElement {
  background: rgba(black, 0.5);
  color: tokens.$color-text-light;
}

.cm-line {
  // Darker yellow with some transparency for better visibility
  background: rgba(tokens.$color-highlighted, 0.5);
  width: fit-content;
}
