@use "@sass/utils/breakpoints";
@use "@sass/utils/buttons";
@use "@sass/utils/type";
@use "@sass/utils/tokens";

.sidebar {
  border-inline-end: 1px solid tokens.$color-border-dark; 
  padding: tokens.$s-p-md;
  display: flex;
  flex-direction: column;
  gap: tokens.$s-md; 
  height: calc(100% - tokens.$s-p-lg);
  margin-top: tokens.$s-p-lg;
  background-color: tokens.$color-bg-hover;
}

.sidebar__controls__button,
.sidebar__controls__new-file__form button{
  @include buttons.button-small;

}

.sidebar__controls__new-file {
  position: relative;
  margin-top: tokens.$s-md;
}


.sidebar__controls__new-file__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: tokens.$s-sm;

  input {
    border-radius: tokens.$border-radius-thin;
    border: 1px solid tokens.$color-border-dark;
    padding: tokens.$s-p-xs;
     @include type.body-extra-small;
  }

  button { 
    width: fit-content;
  }
}

.sidebar__files {
  display: flex;
  flex-direction: column;
}

.sidebar__files__file {
  @include type.body-small;
  border: none;
  background: transparent;
  text-align: left;

  &:hover,
  &:focus {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}
